html, body {


}
* {
    box-sizing: border-box;
}
@font-face {
    font-family: "Anders";
    src: local(Anders); url("Fonts/Anders.ttf");
}
a {
    text-decoration: none;
}

header {
    width: 1920px;
    height: 930px;
    margin: auto;
    background: linear-gradient(to bottom right, #8f66b9, #ca7f2f);}
